<!-- blog/post_list.html -->
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>My Photo Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href= "{% static 'css/blog.css' %}">  

        <style>
            body {
                padding-top: 50px;
            }
            .blog-image-list {
                width: 80%;
                height: auto;
                border-radius: 10px;
            }
        </style>

    </head>

    <body>
        <header>
          <div>
              <h1><a href="/"> My Photo Blog</a></h1>
          </div>
        </header>

        <main>
                {% block content %}
                {% endblock %}
        </main>
    </body>
   
</html>
